
<h1>Huisdieren van {{user.firstname }}</h1>
<h2>Nieuw huisdier</h2>
<div>
    <form action="/pets" method="POST">
        <input type="hidden" name="method" value="POST">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <label for="name">Naam</label>
        <input type="text" id="name" name="name">
        <label for="species">Soort</label>
        <input type="text" id="species" name="species">
        <label for="age">Leeftijd</label>
        <input type="number" id="age" name="age">
        <input type="submit" value="Voeg toe">
    </form >
</div>

<hr>
<h2>Huisdieren</h2>
{{#each pets}}
<div>
    <form action="/pets/update" method="POST">
        <input type="hidden" name="method" value="PUT">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="name" value="{{name}}" placeholder="Naam">
        <input type="text" name="species" value="{{species}}" placeholder="Soort">
        <input type="number" name="age" value="{{age}}" placeholder="Leeftijd">
        <button type="submit">
            Update
        </button>
    </form>
    <form action="/pets/delete" method="POST">
        <input type="hidden" name="method" value="DELETE">
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" value="Verwijder">
    </form>
</div>
{{/each}}
